= form_for @changeset, @action, fn f ->
  = if @changeset.action do
    .alert.alert-danger
      p Oops, something went wrong! Please check the errors below.
  .form-group
    = label f, :name, class: "control-label"
    = text_input f, :name, class: "form-control"
    = error_tag f, :name
  .form-group
    = label f, :longitude, class: "control-label"
    = number_input f, :longitude, step: "any", class: "form-control"
    = error_tag f, :longitude
  .form-group
    = label f, :latitude, class: "control-label"
    = number_input f, :latitude, step: "any", class: "form-control"
    = error_tag f, :latitude
  .form-group
    = submit "Submit", class: "btn btn-primary"
